@media (max-width:1000px){
  .conteudo-vantagem {
    grid-template-columns: 1fr;
  }
  .subtitulo{
    text-align: center;
  }
  .trajetoria{
    text-align: left;
    font-size: 3rem;
  }
  

}
@media(max-width: 600px){
  body{
    gap:30px;
    margin-top: 20px;
  }
  .hearder{
    gap:30px;
  }
  .conteudo{
    grid-template-columns: 1fr;
  }
  .introducao{
    text-align: left;
    justify-items: start;
  }
  .introducao::before{
    display: none;
  }
  .subtitulo{
    font-size: 3rem;
  }

}

@media (max-width: 400px){
  .subtitulo{
    font-size: 2rem;
  }
  
  p{
    font-size: 1rem;
  }
  .classp{
    font-size: 1rem;
  }


}

